{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% if messages %}
  <div>
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<form method="post">
	{% csrf_token %}
	<div class="mb-3">
		<label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
		{{ form.name }}
		<div class="form-text">{{ form.name.help_text }}</div>
		{% if form.name.errors %}
		<div class="text-danger">{{ form.name.errors }}</div>
		{% endif %}
	</div>

	<div class="mb-3">
		<label for="{{ form.mail.id_for_label }}" class="form-label">{{ form.mail.label }}</label>
		{{ form.mail }}
		<div class="form-text">{{ form.mail.help_text }}</div>
		{% if form.mail.errors %}
		<div class="text-danger">{{ form.mail.errors }}</div>
		{% endif %}
	</div>

	<div class="mb-3">
		<label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}</label>
		{{ form.text }}
		<div class="form-text">{{ form.text.help_text }}</div>
		{% if form.text.errors %}
		<div class="text-danger">{{ form.text.errors }}</div>
		{% endif %}
	</div>

	<button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}
