{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <h1>
        Это товар
    </h1>
<div class="col">
    <div class="card h-100" style="width: 18rem;">
      <div class="ratio ratio-4x3">
        <img src="{% static 'img/' %}{{ img }}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">{{ text }}</p>
      </div>
    </div>
</div>
{% endblock %}