{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<h1>
	{% trans 'Список товаров' %}
</h1>

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<div class="row">
	{% for item in items %}
		<div class="col">
			<div class="card h-100" style="width: 18rem;">
				<div class="card-body">
					<img src="{{ item.main_image.image.url }}">
					<h5 class="card-title">{{ item.name }}</h5>
					<h6 class="card-title">{{ item.category.name }}</h6>
					<p class="card-text">{{ item.text }}</p>
					{% for tag in item.tags.all %}
					  {{ tag.name }}
					{% endfor %}
					<a href="{% url 'catalog:item_detail' item.id %}" class="btn btn-primary">Подробнее</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}